<% content_for :title, 'All your booking request | Babynb' %>

<div class="container">
  <div class="fix-footer">
    <% @bookings.each do |booking| %>
      <div class="message">
        <%= image_tag booking.baby.photo, class: 'avatar-square' %>
        <div class="message-name">
        <h3><%= booking.baby.firstname.capitalize %> <%= booking.baby.lastname.capitalize %></h3>
          <p><strong><%= pluralize booking.baby.age, "year" %> old</strong></p>
        </div>
        <div class="message-body">

          <p><strong>Number of Booking's day</strong></p>
  <!--         <p><%= booking.starting_date %></p>
          <p><%= booking.ending_date %></p> -->
          <p><%= pluralize days_count_for(booking), "day" %><p>
        </div>

        <div class="message-cost">
          <p><strong>Total price: </strong></p>
  <!--         <p><%= booking.starting_date %></p>
          <p><%= booking.ending_date %></p> -->
          <p><%= total_price_for(booking)%>€</p>
        </div>

      <div class="message-status">
        <% if booking.status == "accepted" %>
          <p> Availability : <strong class="status accepted">accepted</strong></p>
        <% elsif booking.status == "declined" %>
          <p> Availability : <strong class="status declined">declined</strong></p>
        <% else  %>
        <p> Availability : <strong class="status pending">pending</strong></p>
        <% end %>
         <%= link_to baby_path(booking.baby) do %>
          <i class="fa fa-eye" aria-hidden="true"></i>
        <% end %>
         <%= link_to account_booking_path(booking), data: { confirm: "Delete this booking?" }, method: :delete do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>

