<% content_for :title, @profile.firstname + "'s profile | Babynb" %>

<div class="container">
  <div class="fix-footer">
    <div class="row">
      <div class="col-xs-12 col-md-8-col-md-offset-2">
        <div class="text-center">
          <h3>Hi <%= @profile.firstname %>, welcome to your profile </h3>
          <p>Here is your own information profile</p>
        </div>
        <div class="text-center">
          <% if @profile.photo.blank? %>
          <%= image_tag("smiling_baby.png", height: 100) %>
<!--             <img src="smiling_baby.png" alt=" add your own photo">
 -->          <% else %>
            <%= image_tag @profile.photo, class: 'avatar-tlarge' %>
          <% end %>

        </div>
        <div class="profile-infos-container">
        <div class="profile-infos text-center">
          <% if @profile.firstname.nil? || @profile.lastname.nil? %>
            <h4><%= @profile.firstname %> <%= @profile.lastname %></h4>
          <% else  %>
            <h4><%= @profile.firstname.capitalize %> <%= @profile.lastname.capitalize %></h4>
          <% end %>

          <% if @profile.age.nil? %>
          <% else %>
            <p><%= @profile.age %> years old</p>
          <% end %>
          <p><%= @profile.email %></p>

          <p class="text-justify profile-description"><%= @profile.description %></p>
          <%= link_to 'Edit my profile', edit_profile_path, class: 'btn btn-success' %>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <p class="cancel">Unhappy? <%= link_to "Cancel my account", registration_path(@profile), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Back", :back, class: 'cancel'%>
        </div>
      </div>
    </div>
  </div>
</div>


