<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to babies_path do %>
  <%= image_tag('logo.png', size: '70x40', alt: 'logo', class: 'navbar-wagon-brand')%>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if current_user %>
      <%= link_to 'Manage my bookings', account_bookings_path, class: 'navbar-wagon-item navbar-wagon-link' %>

      <%= link_to 'Manage my babies', account_babies_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <% else %>
      <%= link_to 'Add bookings', account_bookings_path, class: 'navbar-wagon-item navbar-wagon-link' %>

      <%= link_to 'Add a baby', new_account_baby_path, class: 'navbar-wagon-item navbar-wagon-link' %>

      <%= link_to 'Sign in / Sign up', new_user_session_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <% end %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
      <% if current_user %>
        <% if current_user.photo.url.nil? %>
            <%= image_tag('user.png', class: 'avatar dropdown-toggle',alt: 'profile-picture', id: 'navbar-wagon-menu', data: { toggle: 'dropdown' }) %>
        <% else %>
          <%= image_tag(current_user.photo, class: 'avatar dropdown-toggle',alt: 'profile-picture', id: 'navbar-wagon-menu', data: { toggle: 'dropdown' }) %>
        <% end %>
      <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% if current_user %>
              <li><a href="#">Profile</a></li>
              <li><%= link_to 'Settings', edit_user_registration_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><a href="#">Book a baby</a></li>
              <li><%= link_to 'Log in', new_user_session_path %></li>
            <% end %>
          </ul>

      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if current_user %>
          <li><%= link_to 'Manage my babies', account_babies_path, class: 'navbar-wagon-item navbar-wagon-link' %></li>
          <li><%= link_to 'Manage my bookings', account_bookings_path, class: 'navbar-wagon-item navbar-wagon-link' %></li>
          <li><a href="#">Profile</a></li>
          <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>

        <% else %>
          <li><%= link_to 'Add bookings', account_bookings_path, class: 'navbar-wagon-item navbar-wagon-link' %></li>
          <li><%= link_to 'Add a baby', new_account_baby_path, class: 'navbar-wagon-item navbar-wagon-link' %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
