<% content_for :title, 'All your own babies | Babynb' %>

<div class="container">
  <div class="fix-footer">
    <h1 class="text-center"> Manage all your babies</h1>
    <% @babies.each do |baby| %>
      <div class="message">
        <%= image_tag baby.photo, class: 'avatar-square' %>
        <div class="message-name">
          <h3><%= baby.firstname.capitalize %> <%= baby.lastname.capitalize %></h3>
          <% if baby.age == 1 %>
            <p><%= baby.age %> year old </p>
          <% else %>
            <p><%= baby.age %> years old </p>
          <% end %>
          <p><strong><%= baby.price %> €</strong> /day</p>
        </div>
        <div class="message-body">
          <p><strong>Description</strong></p>
          <p><%= baby.description %></p>
          <!-- <p><#%= link_to 'accept', accept_account_request_path, class: 'btn btn-succes' %> - <%#= link_to 'decline', decline_account_request_path, class: 'btn btn-succes' %></p> -->
        </div>
        <div class="message-status">
          <% if baby.availability == true %>
            <p> Availability : <strong class="status accepted">yes</strong></p>
          <% else %>
            <p> Availability : <strong class="status declined">No</strong> %></p>
          <% end %>

          <%= link_to edit_account_baby_path(baby) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>

          <%= link_to account_baby_path(baby), method: :delete do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>

        </div>
      </div>
    <% end %>
    <div class="text-center add-baby-button">
      <%= link_to 'Add a new baby', new_account_baby_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
