<% content_for :title, 'Add your sweet baby | Babynb' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-container">
        <div class="col-xs-12">
          <h1 class="text-center">Add a new baby</h1>
        </div>
        <%= simple_form_for [:account, @baby] do |f| %>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <%= f.input :firstname %>
              <%= f.input :lastname %>
              <%= f.input :age %>
              <%= f.input :gender, as: :radio_buttons, collection: %w(male female) %>
              <%= f.input :origin, as: :select, collection: @baby_origins, prompt: 'select an origin' %>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= f.input :location %>
              <%= f.input :price %>
              <%= f.input :description %>
              <%= f.input :photo, label_html: { class: "btn btn-default" } %>
              <%= f.input :photo_cache, as: :hidden %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <%= f.submit class: 'btn btn-success btn-form' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
